# MongoDB Configuration
# Replace with your local MongoDB URI or Atlas cluster connection string
MONGODB_URL=mongodb+srv://<username>:<password>@cluster.mongodb.net/
DATABASE_NAME=prince_form_db

# Server Configuration
PORT=5000
ENV=development
