# Virtual Environment
.venv/
venv/
ENV/
env/

# Environment Variables / Credentials
.env

# Python caching
__pycache__/
*.pyc
*.pyo
*.pyd

# Local uploaded files (to prevent git tracking upload test files)
frontend/static/uploads/*
!frontend/static/uploads/.gitkeep

forms_links.txt
server.txt